#navbar{
    display: block;
    width: auto;
    flex-wrap: wrap;
    background-color: tomato;
    padding-right: 25%;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
}

.navbar-redirect{
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    color:white;
}

.navbar-redirect:hover{
    border: rgb(163, 30, 6) 5px solid;
    border-radius: 10px;
    color:black;
    background-color: rgb(163, 30, 6);
}


.navbar-item{
    float: right;
    padding-right: auto;
    padding: auto;
}
#darkmodeToggle {
    display: none;
}
  

.slider {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
    transition: background-color 0.3s;
    cursor: pointer;
}
  

.slider::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    left: 2px;
    top: 2px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}
  
#darkmodeToggle:checked + .slider {
    background-color: #4CAF50;
}
  
#darkmodeToggle:checked + .slider::before {
    transform: translateX(20px);
    background-color: #333;
}

.dark-mode{
    background-color: #333;
    color: white;
}
div#navbar.dark-mode{
    background-color: rgb(175, 28, 2);
}
#image{
    border-radius: 10px;
    border: 4px saddlebrown solid;
    width: 500px;
    height: 400px;
    
}
.container{
    display:flex;
    justify-content: space-between;
}
#ingredients{
    border: 1px solid black;
    border-radius: 6px;
    display:block;
    width: 48%;
    box-shadow: 8px 4px 4px #333;
    
}
#instructions{
    border: 1px solid black;
    border-radius: 6px;
    display:block;
    width: 48%;
    box-shadow: 8px 4px 4px #333;

}
#instructions.dark-mode, #ingredients.dark-mode{
    box-shadow:8px 4px 4px #525252;
}
h3{
    margin-left: 8%;
}